/* === Google Font Import - Poppins === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #0F0F0F;
  --secondary-color: #373b69;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

header {
  padding-left: 8%;
  padding-right: 7%;
  padding-top: 2%;
  position: absolute;
  margin-bottom: 6%;
  width: 100%;
  background: rgba(0,0,0,);
  background-image: linear-gradient(to top,rgba(0,0,0,0.0) 0, rgba(0, 0, 0 , 0) 0.1%, var(--primary-color) 100%);
  z-index: 10;
}

header .mainNavigationMenu .containerUl .options button{
  color: #fff;
  background: none;
  border: none;
  font-size: 12pt;
}

header .mainNavigationMenu .containerUl .options{
  margin-left: 1.5%;
  margin-right: 0;
}

header .mainNavigationMenu .containerUl #FirstOption{
  margin-left: 65%;
}

header .mainNavigationMenu .containerUl li{
  display: inline-block;
}

.DivMenuFooter{
  display: none;
}

.featuredBackgroundImage #ulDivs .RightInformation h1{
  display: none;
  font-size: 30pt;
}

.featuredBackgroundImage #logotipo{
  display: block;
}


.featuredBackgroundImage #ulDivs .RightInformation p{
  font-size: 9pt;
}

.featuredBackgroundImage #ulDivs .RightInformation .UlButtons li{
  margin-top: 7%;
  display: inline-block;
}

.featuredBackgroundImage #ulDivs .RightInformation .UlButtons li .ButtonOne{
  background:  red;
  border: none;
}

.featuredBackgroundImage #ulDivs .RightInformation .UlButtons li .ButtonOne:hover{
  transform: scale(1.1);
  background:  #ff1b1b;
  border: none;
}

.featuredBackgroundImage #ulDivs .RightInformation .UlButtons li .ButtonTwo:hover{
  transform: scale(1.1);
  background: transparent;
}

.featuredBackgroundImage #ulDivs .RightInformation .UlButtons li .ButtonTwo{
  background-color: transparent;
  border: 2px solid #fff;
}

.featuredBackgroundImage #ulDivs .RightInformation .UlButtons li button{
  border-radius: 8em;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10pt;
  font-size: 12pt;
  color: #fff;
}

.featuredBackgroundImage #ulDivs .RightInformation{
  position: absolute;
  position: relative;
  margin-left: 8%;
  margin-top: 15%;
  max-width: 43%;
}

.featuredBackgroundImage #ulDivs .LeftInformation{
  position: absolute;
  margin-top: 8%;
}

.featuredBackgroundImage #ulDivs .LeftInformation img{
  border-radius: 0.8em;
  box-shadow: 6pt 6pt 10pt black;
}

.featuredBackgroundImage #ulDivs div{
  display: inline-block;
  margin-left: 3%;
  background: none;
  color: #fff;
}

.featuredBackgroundImage{
  position: relative;
  background-image: url('https://www.themoviedb.org/t/p/original/izrpjJype1BhBf2ROGcxC5KY1fa.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 320pt;
}

.gradient {
  background: rgba(0,0,0,);
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.0) 0, rgba(0, 0, 0 , 0) 40%, var(--primary-color) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

section{
  position: relative;  
  margin-top: 2%;
  width: 100%;
  display: flex;
  align-items: center;
}

#trailerDiv{
  display: none;
  text-align: center;
}

#trailerDiv button{
  border-radius: 8em;
  background: red;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.0) 0, rgba(0, 0, 0 , 0) 1%, rgb(0,0,0)  100%);
  border: 2px solid red;
  opacity: 1;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 2%;
  font-size: 10pt;
  color: #fff;
}

.swiper{
  width: 950px;
}

.swiper-pagination-bullet {
  height: 10px;
  width: 26px;
  border-radius: 25px;
  background: #fff;
}

.swiper-button-next, .swiper-button-prev {
  opacity: 0.7;
  color: #fff;
  transition: all 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  opacity: 1;
}

/* ===== Cards ===== */

.movie {
  width: 200px;
  border-radius: 0.8em;
  box-shadow: 6pt 6pt 10pt black;
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
}


.movie img {
  width: 100%;
  z-index: 1;
}


.canais {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 23%;
  width: 200pt;
  height: 150pt;
  padding: 25pt;
  border-radius: 0.9em;
  box-shadow: 6pt 6pt 10pt black;
  background-color: #242424;
  position: relative;
  overflow: hidden;
}


.canais img {
  width: 95pt;
  z-index: 1;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info .contentionProducerName{
  width: 100%;
}

.movie-info .iconProducer{
  position: absolute;
  border: none;
  border-radius: 1em;
  box-shadow: 6pt 6pt 10pt black;
  width: 45pt;
  height: 45pt;
  background-position: center; 
  background-size: cover;
}

.movie-info .type{
  position: absolute;
  top: 2%;
  background: none;
  border-left: 2px solid red;
  padding-left: 2%;
  font-size: 100%;
  z-index: 20;
}

.movie-info h3 {
  margin-top: 0;
  margin-left: 30%;
}

.movie-info span {
  position: absolute;
  top: 2%;
  left: 98%;
  transform: translateX(-98%);
  background-color: var(--primary-color);
  padding: 4% 4%;
  border-radius: 8em;
  font-weight: bold;
  font-size: 100%;
}

.movie-info span.green {
  color: lightgreen;
  border-right: 2px solid green;
  border-bottom: 2px solid green;
  border-top: 2px solid green;
}

.movie-info span.orange {
  color: orange;
  border-right: 2px solid orange;
  border-bottom: 2px solid orange;
}

.movie-info span.red {
  color: red;
  border-bottom: 2px solid red;
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.1s ease-in;
}

.movie .cardBackgroundImage{
  
  -webkit-transition: 0.5s left,0.5s width,0.5s opacity,0.5s;
  transition: 0.5s left,0.5s width,0.5s opacity,0.5s;
}

.movie:hover .cardBackgroundImage{
  transform: scale(1.50);
  z-index: 10;
}

.play{
  z-index: 20;
}

.movie:hover .overview {
  transform: translateY(0)
}

.movie:hover .know-more {
  margin-top: 0;
  margin-left: 0;
  opacity: 1;
  z-index: 20;
}

#tags {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.tag {
  color: white;
  padding: 10px 20px;
  background-color: orange;
  border-radius: 50px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}

.tag.highlight {
  background-color: red;
}
.no-results {
  color: white;
}

.page {
  padding: 20px;
  cursor: pointer;
}

.page.disabled {
  cursor: not-allowed;
  color: grey;
}

.current {
  padding: 10px 20px;
  border-radius: 50%;
  border: 5px solid orange;
  font-size: 20px;
  font-weight: 600;
}

.play {
  background-color: transparent;
  position: absolute;
  text-align: center;
  margin-top: 48%;
  width: 100%;
}

.know-more {
  background-color: red;
  margin-left: 0;
  opacity: 0;

  -webkit-transition: 0.4s left,0.4s width,0.4s opacity,0.4s;
  transition: 0.4s left,0.4s width,0.4s opacity,0.4s;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  border-radius: 50px;
  width: 63pt;
  height: 47pt;
}

.containerTitle_card{
  margin-top: 8%;
  margin-bottom: 4%;
  width: 95.6%;
}

.containerTitle_card button{
  border-radius: 8em;
  background-color: transparent;
  border: 2px solid red;
  opacity: 0.8;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-top: 4%;
  font-size: 10pt;
  color: #fff;
}


.containerTitle_card{
  text-align: right;
}

@media screen and (max-width: 700px) {

header .mainNavigationMenu .containerUl .options{
  display: none;
}

header {
  padding-left: 0;
  padding-right: 0;
  background: rgba(0,0,0,);
  background-image: linear-gradient(to top,rgba(0,0,0,0.0) 0, rgba(0, 0, 0 , 0) 90%, var(--primary-color) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 6%;
  width: 100%;
  height: 100%;
  z-index: 5;
}

header .mainNavigationMenu .containerUl{
  text-align: center;
}

.featuredBackgroundImage #ulDivs .RightInformation h1{
  display: block;
}

.featuredBackgroundImage #logotipo{
  display: none;
}

.featuredBackgroundImage #ulDivs .RightInformation p{
  max-width: 94%;
  margin-top: 4%;
  margin-right: 4%;
  font-size: 11pt;
}

.featuredBackgroundImage #ulDivs .LeftInformation{
  display: none;
}

.featuredBackgroundImage #ulDivs .RightInformation{
  position: absolute;
  margin-top: 15%;
  max-width: 100%;
}

.featuredBackgroundImage {
  position: relative;
  background-image: url('https://www.themoviedb.org/t/p/original/72ANv5sE20KCl4rdwOpzyAeC3UI.jpg');
  background-position: center;
  background-position-y: 23%;
  background-size: cover;
  width: 100%;
  height: 320pt;
}

.gradient {
  position: absolute;

}

.swiper-button-prev {
  color: red;
  opacity: 1;
  display: none;
}


section {
  position: relative;
  width: 97%;
  margin-left: 1.5%;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.movie .overview {
  display: none;
}

.movie .know-more {
  margin-top: 85%;
  margin-left: 0;
  width: 28%;
  height: 28%;
  background: #161616be;
  opacity: 1;
  
  -webkit-transition: 0.1s left,0.1s width,0.1s opacity,0.1s;
  transition: 0.1s left,0.1s width,0.1s opacity,0.1s;
}

.movie:hover .know-more {
  font-weight: bold;
  transform: scale(1.50);
  background: red;
  width: 4vh;
  height: 4vh;
}

.movie-info h3{
  display: none;
}

.movie-info .iconProducer{
  display: none;
}

.DivMenuFooter{
  position: fixed;
  z-index: 15;
  display: block;
  width: 100%;
  top: 100%;
  transform: translateY(-100%);
  z-index: 1500;
}

.DivMenuFooter .Container{
  background-color: #000;
  position: ;
  text-align: center;
}

.DivMenuFooter .Container ul li{
  display: inline-block;
  width: 30.3%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 8em;
  opacity: 0.5;
  
  -webkit-transition: 0.5s left,0.5s width,0.5s opacity,0.5s;
  transition: 0.5s left,0.5s width,0.5s opacity,0.5s;
}

.DivMenuFooter .Container ul li:hover{
  display: inline-block;
  border-radius: 0;
  opacity: 1;
}

.DivMenuFooter .Container ul li button{
  background: none;
  color: #fff;
  border: none;
}

}

/* ===== Players ===== */

.jlplayer-video,
.jlplayer-video *,
.jlplayer-video::after,
.jlplayer-video::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-family: Avenir,'Avenir Next','Helvetica Neue','Segoe UI',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.jlplayer-cursor-show{
    cursor: default;
}
.jlplayer-cursor-hidden{
    cursor: none;
}
.jlplayer-cursor-show input[type=range],
.jlplayer-cursor-show button{
    cursor: pointer;
}
.jlplayer-cursor-hidden input[type=range],
.jlplayer-cursor-hidden button{
    cursor: none; 
}
.jlplayer-cursor-show .jlplayer-controls {
    opacity: 1;

}
.jlplayer-cursor-hidden .jlplayer-controls{
    opacity: 0;
}
.jlplayer-cursor-show .jlplayer-play-center{
    opacity: 1;
    visibility: visible;
}
.jlplayer-cursor-hidden .jlplayer-play-center{
    opacity: 0;
    visibility: hidden;
}

.jlplayer-video a,
.jlplayer-video button,
.jlplayer-video input{
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.jlplayer-video {
    position: relative;
    width: 100%;
    min-width: 180px;
    height: 0;
    padding-bottom: 56.25%;
    border-radius: inherit;
    direction: ltr;
    background-color: #000000;
}

.jlplayer-fullscreen-on{
    height: 100vh;
    padding-bottom: 0;
}

.jlplayer-video:focus {
    outline: 0;
}

.jlplayer-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: inherit;
}

.jlplayer-video .jlplayer-legends {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: #fff;
    transition: transform .3s ease, -webkit-transform .3s ease;
}

.jlplayer-video .jlplayer-legends span {
    display: inline-block;
    border-radius: 4px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, .6);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: 150%;
    font-size: inherit;

}

.jlplayer-video .jlplayer-legends span:empty {
    display: none;
}

.jlplayer-cursor-show .jlplayer-legends{
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
}

.jlplayer-cursor-hidden .jlplayer-legends{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

@media (min-width: 768px) {
    .jlplayer-video .jlplayer-legends {
        font-size: 24px;
    }
}

@media (min-width:1024px) {
    .jlplayer-video .jlplayer-legends {
        font-size: 32px
    }
}

.jlplayer-video::-webkit-media-controls {
    display: none;
}

.jlplayer-video video::-webkit-media-text-track-container {
    display: none;
}

.jlplayer-video .jlplayer-controls {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    z-index: 2;
    padding: 7px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
    text-align: center;
    pointer-events: none;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .01)), to(rgba(0, 0, 0, .4)));
    background: -webkit-linear-gradient(rgba(0, 0, 0, .01), rgba(0, 0, 0, .4));
    background: -o-linear-gradient(rgba(0, 0, 0, .01), rgba(0, 0, 0, .4));
    background: linear-gradient(rgba(0, 0, 0, .01), rgba(0, 0, 0, .4));
    border-radius: inherit;
    -webkit-transition: opacity .2s .1s ease;
    transition: opacity .2s .1s ease;
    -o-transition: opacity .2s .1s ease;
    transition: opacity .2s .1s ease;
}

.jlplayer-video .jlplayer-controls>* {
    pointer-events: all;
}

.jlplayer-video button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    outline: 0;
    background-color: transparent;
    margin-left: 10px;
    border-radius: 4px;
    color: inherit;
    overflow: visible;
    padding: 7px;
    -webkit-transition: background .3s ease, color .3s ease, opacity .3s ease;
    -o-transition: background .3s ease, color .3s ease, opacity .3s ease;
    transition: background .3s ease, color .3s ease, opacity .3s ease;
}

.jlplayer-video button.disabled svg{
    opacity: 0.5;
}

.jlplayer-video button:first-child {
    margin-left: 0;
    margin-right: 10px;
}

.jlplayer-video button:hover {
    background-color: #3498db;
}

.jlplayer-video button svg {
    position: relative;
    margin: 0 auto;
    display: block;
    fill: #fff;
    width: 18px;
    height: 18px;
    padding-top: 1px;
}

.jlplayer-video .jlplayer-play-center {
    position: absolute;
    margin-left: 0;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 50%;
    vertical-align:middle;
    box-sizing: border-box;
    padding: 0;
    transform: translate(-50%, -50%);
    z-index: 2;
    -webkit-transition: opacity .2s .1s ease;
    transition: opacity .2s .1s ease;
    -o-transition: opacity .2s .1s ease;
    transition: opacity .2s .1s ease;
}
.jlplayer-video .jlplayer-play-center svg{
    width:20px;
    height: 20px;
}

.jlplayer-video .jlplayer-presentation,
.jlplayer-video .jlplayer-volume {
    position: relative;
    display: inline-block;
    height: 20px;
}

.jlplayer-video .jlplayer-presentation {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.jlplayer-video .jlplayer-volume{margin-left: 0; width: 0; height: 0; overflow: hidden; visibility: hidden;}
@media (min-width:560px) {.jlplayer-video .jlplayer-volume{width: 60px; height: auto; visibility: visible; margin-left: 10px;}}
@media (min-width:1024px) {.jlplayer-video .jlplayer-volume  {width: 80px;}}

.jlplayer-video button,
.jlplayer-video input {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.jlplayer-video input[type=range] {
    position: relative;
    display: block;
    z-index: 2;
    height: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: 0 0;
}

.jlplayer-video input[type=range]::-webkit-slider-runnable-track {
    position: relative;
    vertical-align: middle;
    background: 0 0;
    outline: 0;
    border: 0;
    -webkit-user-select: none;
    user-select: none;
    background: 0 0;
}

.jlplayer-video input[type=range]::-webkit-slider-thumb {
    position: relative;
    background: #3498db;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 2;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.jlplayer-video input[type=range]::-moz-range-thumb {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #3498db;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 2;
    box-sizing: border-box;
}

.jlplayer-video input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #3498db;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 2;
    box-sizing: border-box;
}

.jlplayer-video input[type=range]::-ms-tooltip {
    display: none;
}

.jlplayer-video input[type=range]::-moz-focus-outer {
    border: 0;
}

.jlplayer-video input[type=range]::-moz-range-track {
    background: 0 0;
    outline: 0;
    border: 0;
    height: 6px;
    -moz-user-select: none;
    user-select: none;
    border-radius: 4px;
}

.jlplayer-video input[type=range]::-ms-track {
    background: 0 0;
    outline: 0;
    border: 0;
    height: 6px;
    color: transparent;
    background: 0 0;
}

.jlplayer-video input[type=range]::-ms-fill-upper {
    background: 0 0;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    border: 0;
}

.jlplayer-video input[type=range]::-ms-fill-lower {
    background: 0 0;
    border: 0;
    border-radius: 4px;
    -ms-user-select: none;
    user-select: none;
    background-color: #3498db;
}

.jlplayer-video input[type=range]:focus {
    outline: 0;
}

.jlplayer-video .jlplayer-progress {
    position: absolute;
    left: 0;
    top: calc(50% - 3px);
    width: 100%;
    height: 6px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .25);
}

.jlplayer-video .jlplayer-progress span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 6px;
    width: 0;
    border-radius: 4px;
    background-color: #3498db;
    max-width: 100%;
}

.jlplayer-video span.jlplayer-pbuffer {
    background-color: rgba(255, 255, 255, .25);
}
/*.jlplayer-video .jlplayer-totalTime*/
.jlplayer-video .jlplayer-time {
    display: inline-block;
    margin-left: 10px;
    height: 20px;
    line-height: 20px;
}
.jlplayer-video .jlplayer-tooltip {
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, .7);
    line-height: 1.2;
    padding: 5px 7px;
    border-radius: 4px;
    width: auto;
    bottom: 100%;
    margin-bottom: 10px;
    opacity: 0;
    line-height: 1.3;
    left: 50%;
    z-index: 2;
    pointer-events: none;
    left: 50%;
    -webkit-transform: translate(-50%, 0) scale(.8);
    -ms-transform: translate(-50%, 0) scale(.8);
    transform: translate(-50%, 0) scale(.8);
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: opacity .2s .1s ease, -webkit-transform .2s .1s ease;
    transition: opacity .2s .1s ease, -webkit-transform .2s .1s ease;
    -o-transition: transform .2s .1s ease, opacity .2s .1s ease;
    transition: transform .2s .1s ease, opacity .2s .1s ease;
    transition: transform .2s .1s ease, opacity .2s .1s ease, -webkit-transform .2s .1s ease;
}

.jlplayer-video button:hover .jlplayer-tooltip,
.jlplayer-video .jlplayer-presentation:hover .jlplayer-tooltip {
    opacity: 1;
    -webkit-transform: translate(-50%, 0) scale(1);
    -ms-transform: translate(-50%, 0) scale(1);
    transform: translate(-50%, 0) scale(1);
}

.jlplayer-video button:hover .jlplayer-tooltip {
    z-index: 3;
}

.jlplayer-video .jlplayer-tooltip:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -5px;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, .7);
    border-left: 5px solid transparent;
    z-index: 2;
}

.jlplayer-video button:first-child .jlplayer-tooltip {
    left: 0;
    -webkit-transform: translate(0, 0) scale(.8);
    -ms-transform: translate(0, 0) scale(.8);
    transform: translate(0, 0) scale(.8);
}

.jlplayer-video button:first-child .jlplayer-tooltip:after {
    left: 0;
    -webkit-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    transform: translate(10px, 0);
}

.jlplayer-video button:last-child .jlplayer-tooltip {
    left: auto;
    right: 0;
    -webkit-transform: translate(0, 0) scale(.8);
    -ms-transform: translate(0, 0) scale(.8);
    transform: translate(0, 0) scale(.8);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.jlplayer-video button:last-child .jlplayer-tooltip:after {
    left: auto;
    right: 16px;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.jlplayer-video button:first-child:hover .jlplayer-tooltip {
    -webkit-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
}

.jlplayer-video button:last-child:hover .jlplayer-tooltip {
    -webkit-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
}

.jlplayer-loader {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.jlplayer-video .jlplayer-loader-box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: inherit;
}

.jlplayer-video .jlplayer-gif {
    position: relative;
    width: 100px;
}

.jlplayer-video .jlplayer-spinner {
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    text-align: center;
}

.jlplayer-video .jlplayer-spinner > div {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: jlplayer-sk-bouncedelay 1s infinite ease-in-out both;
    animation: jlplayer-sk-bouncedelay 1s infinite ease-in-out both;
}

.jlplayer-video .jlplayer-spinner .jlplayer-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.jlplayer-video .jlplayer-spinner .jlplayer-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes jlplayer-sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes jlplayer-sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}